@font-face {
    font-family: "NimbusSanL-Bol";
    src: url(/Tag3/assets/fonts/NimbusSanL-Bol.ttf);
    }


.background {
  position: relative;
  width: 950px;
  height: 1400px;
  background-color: rgb(237,210,78);}

  .gnazerinhalt{
    position: absolute;
  }


h1 {
  color:black;
  font-family:"NimbusSanL-Bol";
  writing-mode: vertical-lr;
  transform:rotate(180deg);
  font-size: 1000px;
  top: 70px;

  position:absolute;
  text-align: left;
  letter-spacing: -50px; 
  padding: 0px;

}


.Dieoberendrei{
  position: absolute;
  top: 45px;
  right: 80px;
  /*line-height: 180px;*/



  left: 100px;
  text-align: end;
  font-family:"NimbusSanL-Bol";

}

.Adresse{
  position:absolute;
  left: 80px;
  top: 685px;
  color:black;
  font-family:"NimbusSanL-Bol";

}


.untereZeile{
  position: absolute;
  left: 80px;
  bottom: 110px;
  
  color: black;
  text-align: end;
  font-family:"NimbusSanL-Bol";
}
 

  
