@font-face {
    font-family: Roboto-Medium;
    src: url(/Tag3/assets/fonts/Roboto-Medium.ttf);
    }

.background {
    background-color:#6a3d38;
    height: 1690px;
    width: 1150px ;
   /* height: 1150px;*/
    margin: 0px;
    padding: 0px;
}


h1 {
    color: #372825;
    font-family:"Roboto-Medium";
    text-align: center;
    font-size: 390px;
    padding:0px;
    margin-top:  -55px;
    margin-left: -80px;
    margin-bottom: 0px;
    letter-spacing: -23px;
}
h2 {
    color: #372825;
    font-family:"Roboto-Medium";
    text-align: center;
    font-size: 390px;
    margin-top: -145px;
    margin-left: -8px;
    margin-bottom: 0px;
    letter-spacing: -20px;
    position: relative; 

}

.redbox{
    background-color:#b7322d;
    position: absolute;
    height: 905px;
    width: 1010px;
    top: 675px;
    margin: 0;
    margin-left: 60px;
    /*top: 675px;
    
    padding-left: 20px;
    */
}
    p {

    color:#372825;
    font-family: "Roboto-Medium";
    font-size: 55px;
    display: block;
    position: absolute;
    margin-left:25px;
    margin-top:560px;
    line-height: 90%;
    

}


    

