@font-face {
    font-family: "NimbusSanL-Bol";
    src: url(/Tag3/assets/fonts/NimbusSanL-Bol.ttf);
    }


body {
  
  background-color:rgb(237,210,78);}

h1 {
  color:black;
  padding: 8px;
  font-family:"NimbusSanL-Bol";
  writing-mode: vertical-lr;
  font-size: 300px;
  position:relative;

  transform:rotate(180deg);
}

.Zeile1{
  position: absolute;
  top:0px;
  left: 0px;
}







 /* font-family: NimbusSansL-Bol;
   writing-mode: vertical-lr;
    text-align:;
    padding: ;
    margin: ;
    font-size: ;

  }*/

  
