
  div{
    padding: 20px;
  }
  
  .topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style mittelgrosse Schrift */
  .blackfont1{
    float: ;
    color:black;
    font-size: ;

    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Style grosse Schrift */
  .blackfont2{
    color: black;
    font-size: ;
  }
  
  /* Style kleine Schrift */
  .blackfont3{
    color: black;
    font-size: ;

  }